<section>
  <div class="card">
    <button (click)="this.changeTitle()" > Change Title </button>
    <button (click)="this.callApi()" > Call Api </button>
    <section *ngIf="this.hasContent" > Connection to API Success </section>
    <section *ngIf="this.hasError" > Connection to API Failed </section>
  </div>
</section>
