<div class="container">
  <section>
    <div class="card">
      <div class="card-title">{{ title }}</div>
      <br />
      <hr />
      <br />

      <div class="card-body">{{ body }}</div>
      <br />
      <hr />
      <br />

      <div class="card-footer">{{ footer }}</div>
    </div>
  </section>
  <change-content></change-content>
</div>


<!--
<router-outlet></router-outlet>
-->
