.container {
    .card {
        .card-title {
            text-transform: uppercase;
        }
        .card-body {
            text-transform: lowercase;
        }
        .card-footer {
            text-transform: capitalize;
        }
    }
}